
.profile-form{
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}
input{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button{
    background-color: lightgrey;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}   
button:hover{
    background: gray;
}
