


.login-form{
   max-width: 320px;
   margin: 50px auto;
   padding: 20px;
   border-radius: 10px;
   border: 1px solid gray;
}
.login-input{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.login-button{
    background-color: lightgrey;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}   
button:hover{
    background: gray;
}
.login-form a{

    color: black;
    list-style: none;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;

    &:hover {
        text-decoration: underline;
    }
}

